
.play{
    overflow: hidden;
    border-bottom: 1px solid rgb(237, 250, 226);
    height:73px;
}
.logo12{
    height:70px;
    width:100vw;
    position:fixed;
    /* border-bottom: 2px solid rgb(223, 217, 217); */
    background:white;
    z-index: 5;
}
.logo12 img{
    width:51px;
    height:51px;
    margin:15px;
}
.down{
    display: inline-block;
    position:absolute;
    border: 1px solid #d8d7d7;
    padding:3px;
    border-radius: 18px;
    font-size: 14px;
    margin-top:15px;
    margin-left:70px;
    width:80px;
    text-align: center
}

.playPic{
    text-align: center;
    margin:20px;
}
.playPic img{
    height:250px;
    width:250px;
    border-radius: 50%;
}
.audios{
    text-align: center;
    margin:40px auto;
}
.lrc{
    overflow: auto;
    position: relative;
    height:150px;
    text-align: center
}
.lrcn{
    height:auto;
    position: absolute;
    width:100vw;
    transition: top 0.4s
}
.lrcn p{
    height:40px;
    line-height:40px;
}